.card {
    border: none;
    flex-direction: row;
}

ol {
    list-style: number;
    padding: 0;
  }
  
li {
    margin-bottom: 10px;    
    padding: 10px;
    border-radius: 5px;
    width: auto;
  }

li:hover {
    cursor: pointer;
  } 

#questionContainer {
    display: none;    
}

.element {
  width: 300px;
  margin: 0 auto;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;  
}

.timer {
  text-decoration: none;
  color: #000;
}

.timer:hover {
  cursor: default;
  color: #000;
}

.viewHighScoresLink {
  color: lightblue;
}

.btn:hover{
  color: #fff;
  background-color: #a5f5bd;
  border-color: #a5f5bd;
}

ol.scores li::before {
  content: counter(list-item) ". ";
  counter-increment: list-item;
  margin-right: 0.5rem;
}

ol.scores li:hover {
  cursor: default;
}
